<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Ourye Extyeh Inyay Igpay Atinlay</h1>
    #put the user's translated text here
    <p> <%=@pig_latined_text%></p>
  </body>
  </html>
